In [15]:
import pandas as pd
import cb0t.engine as engine

df = pd.DataFrame() # Empty DataFrame

# Fetch data from the engine and populate the DataFrame
data = engine.get_ohlc('ETHUSD', '1d', 128)
df = pd.DataFrame(data, columns=['time', 'open', 'high', 'low', 'close', 'vwap', 'volume', 'count'])

df['time'] = pd.to_datetime(df['time'], unit='s')

df['change'] = df['close'].astype(float).diff()
df['gain'] = df.change.mask(df.change < 0, 0.0)
df['loss'] = -df.change.mask(df.change > 0, -0.0)

# Calculate average gain and loss
window = 14  # RSI period
df['avg_gain'] = df['gain'].rolling(window=window, min_periods=window).mean()
df['avg_loss'] = df['loss'].rolling(window=window, min_periods=window).mean()

df['rs'] = df.avg_gain / df.avg_loss
df['rsi'] = 100 - (100 / (1 + df.rs))

# Display the DataFrame
df_rsi = df[['time', 'close', 'rsi']].copy()
df_rsi
#df.tail(20)  # Show the last few rows of the DataFrame
#df

          time    close        rsi
0   2025-02-18  2669.75        NaN
1   2025-02-19  2715.01        NaN
2   2025-02-20  2739.33        NaN
3   2025-02-21  2658.99        NaN
4   2025-02-22  2763.33        NaN
..         ...      ...        ...
123 2025-06-21  2296.29  37.237819
124 2025-06-22  2227.41  35.115369
125 2025-06-23  2413.73  36.178140
126 2025-06-24  2448.24  28.813345
127 2025-06-25  2431.00  29.741195

[128 rows x 3 columns]